<main class="main main-home text-center container">
    <h2 class="home-header">Lorem ipsum dolor sit.</h2>
    <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, delectus natus officia optio mollitia, obcaecati maxime, amet eveniet perspiciatis hic a asperiores facere veritatis iste totam cum porro quia. Eligendi ex veritatis neque. In aperiam quisquam dicta minus accusantium fugiat provident voluptatibus nisi numquam omnis, doloribus soluta illum asperiores autem animi commodi odit aspernatur et similique iure aliquid consequatur impedit.</p>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, eos officiis dolor repellat incidunt sint excepturi earum est sed ea rem quidem eum exercitationem quibusdam?</p>
    <figure>
        <img src="https://via.placeholder.com/450x500" alt="placeholder image" class="img-fluid home-img">
        <figcaption class="figcap">
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio aspernatur commodi consequuntur qui fuga unde.</p>
        </figcaption>
    </figure>
</main>